<h1 class="text-center text-info">{{{username}}}</h1><br />
<h1 class="text-center text-info">({{{email}}})</h1>
<hr class="my-3" />

<div class="container">
    <div class="row">
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>                   
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {{{result}}}

                <!--<tr class="table-warning">
                    <th scope="row">1</th>
                    <td>Mass Effect Andromeda</td>
                    <td>62.5 GB</td>
                    <td>60 &euro;</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mass Effect Andromeda</td>
                    <td>62.5 GB</td>
                    <td>60 &euro;</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">3</th>
                    <td>Mass Effect Andromeda</td>
                    <td>62.5 GB</td>
                    <td>60 &euro;</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>-->
            </tbody>
        </table>

    </div>
</div>