<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
    <!--<link href="Styles/bootstrap.css" rel="stylesheet" />
    <link href="Styles/styles.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>-->
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/home/index">FDMC</a>

            <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                    

                </ul>
                <ul class="navbar-nav ml-auto" style="display: {{{isAuthenticated}}}">
                    <li class="nav-item active col-md-4">
                        <a class="nav-link" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item active col-md-4">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item active col-md-4">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto" style="display: {{{isLoggedIn}}}">
                    <li class="nav-item active col-md-2">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active col-md-4">
                        <a class="nav-link" href="/kittens/all">All Kittens</a>
                    </li>
                    <li class="nav-item active col-md-4">
                        <a class="nav-link" href="/kittens/add">Add Kitten</a>
                    </li>
                    <li class="nav-item active col-md-2">
                        <a class="nav-link" href="/users/logout">Logout</a>
                        <!--<form action="/users/logout" method="post" class="nav-link">
                            <input type="submit" value="Logout" />
                        </form>-->
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="my-5" />
       {{{content}}}
        <hr class="my-5" />
        <footer class="footer">
            <div class="container-fluid">
                <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.</div>
            </div>
        </footer>
    </div>
</body>
</html>